<!-- local debug and minimized versions -->
<!-- remotely loaded -->
<!--
<script src="jquery-2.0.3.js"></script>
<script src="jquery-2.0.3-min.js"></script>
 -->
<link rel="stylesheet" href="jquery-ui-themes-1.11.0/themes/redmond/jquery-ui.css">
<style>
body{font-size:10px;}
table{font-size:10px;}
</style>
<script src="/finance/jquery-1.11.3.min.js"></script>
<script src="jquery-ui-1.11.4/jquery-ui.js"></script>
<script src="transactions.js"></script>
<script src="calculations.js"></script>
<script>

var codes = [ 
{code:0130,description:"Inventarissen",category:"Balans"},
{code:0135,description:"Afschrijving inventarissen",category:"Balans"},
{code:0740,description:"Langlopende leningen",category:"Balans"},
{code:1000,description:"Kas",category:"Betalingsmiddelen"},
{code:1010,description:"Bank",category:"Betalingsmiddelen"},
{code:1080,description:"Kruisposten",category:"Balans"},
{code:1300,description:"Debiteuren",category:"Debiteuren"},
{code:1400,description:"Beginkapitaal",category:"Balans"},
{code:1410,description:"Privéopnamen en -stortingen",category:"Balans"},
{code:1500,description:"Vorderingen (kortlopend)",category:"Balans"},
{code:1600,description:"Voorbelasting",category:"Voorbelasting"},
{code:1630,description:"BTW Af te dragen Hoog",category:"BTW af te dragen 19% / 21%"},
{code:1631,description:"BTW af te dragen Laag",category:"BTW af te dragen 6%"},
{code:1632,description:"BTW af te dragen overig",category:"BTW af te dragen overig"},
{code:1650,description:"BTW R/C",category:"BTW R/C"},
{code:1700,description:"Crediteuren",category:"Crediteuren"},
{code:1800,description:"Schulden (kortlopend)",category:"Balans"},
{code:4335,description:"Afschrijvingen inventarissen",category:"Winst & Verlies"},
{code:4500,description:"Contributies en abonnementen",category:"Winst & Verlies"},
{code:4510,description:"Reclame en advertenties",category:"Winst & Verlies"},
{code:4520,description:"Representatie en verteer",category:"Winst & Verlies"},
{code:4530,description:"Reis- en verblijfkosten",category:"Winst & Verlies"},
{code:4540,description:"Relatiegeschenken",category:"Winst & Verlies"},
{code:4590,description:"Overige verkoopkosten",category:"Winst & Verlies"},
{code:4600,description:"Kilometervergoeding",category:"Winst & Verlies"},
{code:4700,description:"Kantoorbenodigdheden",category:"Winst & Verlies"},
{code:4740,description:"Drukwerk, porti en vrachten",category:"Winst & Verlies"},
{code:4750,description:"Telefoon en fax",category:"Winst & Verlies"},
{code:4790,description:"Overige kantoorkosten",category:"Winst & Verlies"},
{code:4810,description:"Accountants- en administratiekosten",category:"Winst & Verlies"},
{code:4850,description:"Cursussen/seminars",category:"Winst & Verlies"},
{code:4860,description:"Vakliteratuur",category:"Winst & Verlies"},
{code:7000,description:"Inkopen",category:"Winst & Verlies"},
{code:8000,description:"Omzet groep 1",category:"Winst & Verlies"},
{code:8010,description:"Omzet groep 2",category:"Winst & Verlies"},
{code:9951,description:"Betalingsverschillen",category:"Winst & Verlies"}
];

function aangifte()
{
    str = "Aangifte als ondernemer:<br>";

    str += "<ul>";
    str += "<li>Ten eerste, je krijgt geen acceptgiro voor de BTW, je moet gewoon direct betalen wat je opgeeft. Je krijgt wel een acceptgiro voor als je niet op tijd betaald, met boete (3% van het bedrag)"
    str += "<li>Je omzet moet netto (dus zonder BTW) ingevoerd worden bij de balans (winst/verliezrekeneing, maar ook als ontrekking naar privevermogen !, in het geval milgro was dat dus 600 euro op beide posten."
    str += "<li>FOR is fiscale oudedagsreserve, en is in principe geld wegzetten zonder belasting, maar als je het later aan jezelf laat uitbetalen komt de belasting alsnog, maar mischien een lagere schaal !"
    str += "<li>FOR mag je niet zelf opzij zetten, daar moet je een bank/fonds voor inschakelen !?! (ik kan dat nergens meer terugvinden)" 
    str += "<li>Je mag FOR nog schuiven in ruimte(reserve) van vorige jaren (7?jaar terug), laat dit uitzoeken door een kenner !"
    str += "<li>Onderzoek middeling !!!, het ene jaar meer verdiend dan het andere ,daar kun je ws belasting voor terugvragen : https://persoonlijk.knab.nl/middelingscheck"
    str += "</ul>"

    return str;
}

function explain()
{
    str = "explanation of codes:<br>";

    str += "Codes are written to either balance or winst/verlies based on the";
    str += "<ul><li>category, Balans are items representing some sort of value, for instance machines, computers, realestate etc.";
    str += "<li>Winst en verlies, posts where you make profit or debt, things like paper, telephonecosts, etc. Actually it's just what the government decides to put in which category, just go with it."; 
    str += "<li>Betalingsmiddelen, bv bankrekening of kas.";
    str += "<li>BTW rekeningen. ";
    str += "<li>Debiteuren, clients, also bills that are not received yet. ";
    str += "<li>Crediteuren, people you owe money (deliverers)";
    str += "</ul>";
    return str;
}

function dump_codes()
{
    str = "These are the codes used : <table>";
    for (i in codes) {
        c = codes[i];
        str += "<tr><td>" + c.code;
        str += "<td>" + c.description;
        str += "<td>" + c.category;
    } 
    str += "</table>";

    return str;
}

function polissen()
{
    str = "De polissen die nu lopen : ";
    str += "<ul>";
    str += "<li>Direktbank L58936 : hypthecaire lening: (418/maand) (10% per jaar boetevrij (van het totale bedrag dus : 16.185 euro/jaar)";
    str += "<li>ASR 41110900: beleggingsverzekering: (149.72/maand)";
    str += "<li>L26454198 : Levenzverzekering/lijfrente (65,64/maand) (hoorde bij pensioen?) ";
    str += "<li>(9534502/9910722) Stilgezet : Pensioen";
    str += "</ul>";

    return str;
}

function invoeren()
{
    str = "Invoeren, als ondernemer moet u het volgende invoeren : ";
    str += "<ul>";
    str += "<li>Bonnetjes, zeg maar alles wat direct afgerekend wordt.";
    str += "<li>Afschriften.";
    str += "<li>Ontvangen facturen, alles wat achteraf betaald moet worden.";
    str += "<li>Verstuurde facturen.";
    str += "</ul>";
    str += "<a href=http://www.gratis-cursus-boekhouden.nl/default.asp?c=16&ALL=>bron...</a>";

    return str;
}

function get_transactions()
{
    var receiver=$("#transactions");
    var tr = new Transactions(receiver);
}

function get_calculations()
{
    var receiver=$("#calculations");
    var ber = new Calculations(receiver);
}

$(document).ready(function() {
    get_transactions();
     $("#main").html(explain() + invoeren() + polissen());
     $("#codes").html(dump_codes());
     $("#aangifte").html(aangifte());
     $("#transactions").html(get_transactions());
     $("#calculations").html(get_calculations());
     $( "#accordion" ).accordion({ 
        heightStyle: "content",
        collapsible: true,
     });
   });

</script>
<body>
<div id="accordion">
  <h3>Berekeningen</h3>
  <p id="calculations"> </p>
  <h3>Inleiding</h3>
  <p id="main"> </p>
  <h3>Codes</h3>
  <p id="codes"> </p>
  <h3>Aangifte</h3>
  <p id="aangifte"> </p>
  <h3>Transacties</h3>
  <p id="transactions"> </p>
</div>
</body>
</html>
